
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href=" {% url 'home' %}"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          {% if user.is_authenticated %}
            {% if user.groups.all.0|stringformat:"s" == "Profesor" %}
              <li><a class="nav-link scrollto" href="#about">Acerca</a></li>
              <!-- <li><a class="nav-link scrollto" href="#services">Productos</a></li>
              <li><a class="nav-link scrollto" href="#services">Cotizar</a></li> -->
              <li class="nav-item">
                <a class="nav-link" href="#">
                  |<i class="bi bi-person"></i> <b>{{ user.groups.all.0 }} - {{ user }}</b></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}"><i class="bi bi-box-arrow-right"></i> Salir</a></li>
            
            {% elif user.groups.all.0|stringformat:"s" == "Apoderado" %}
              <li class="nav-item active">
                <a class="nav-link scrollto" href="/app/productos"> Alumno </a></li>
              </li>
              <li class="nav-item active">
                <a class="nav-link scrollto" href="#services">Acerca</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                   <i class="bi bi-person"></i> <b>{{ user.groups.all.0 }} - {{ user }}</b></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}">
                <i class="bi bi-box-arrow-right"></i> Salir</a></li>

            {% endif %}
          {% else %}
            <li><a class="nav-link scrollto" href="#about">Acerca</a></li>           
            {% endif %}  
        </ul>
      </nav>
      <!-- .navbar -->
    </div>
  </header>

</nav>
